body{
    padding: 0%;
    margin: 0%;
    background-color:#202020;
    overflow-x:hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

p{
    font-size: .85em !important;
    text-align: justify;
}

h1{
    font-family: 'Poppins', Courier, monospace;
    font-size: 3.5em;
    margin-top: 0em;
    margin-bottom: -.3em;
    z-index: 10;
    position: relative;
    letter-spacing: 3px;
}

h2{
    font-family: Inter;
    font-size: 20px;
    margin-top: 1em;
    z-index: 10;
    position: relative;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: 113%; 
    color: white;
    text-align: center;
    margin-top: -0.65em;
    margin-bottom: 10vh;
    letter-spacing: 0.5px;
}

h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: .85em;
    z-index: 10;
    position: relative;
}


h6{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: .1em;
    margin-bottom: 0em;
    font-size: .7em;
    z-index: 10;
    position: relative;
    font-weight: normal;
}

p{
    margin-top: .3em;
    color: #202020;
    text-align: justify;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135.523%; /* 21.684px */
}

/* NAV BAR START */
#topBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    width: 100vw;
    height: 5em;
    background-color: #4b4b4b;
    z-index: 20;
}

#topBox-button{
    height: 3em;
    margin-right: 80px;
    border-radius: 1.3em;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color:#202020;
    padding: 0em 1em;
    transition-duration: .25s;
}

#topBox-button h5{
    font-family: Poppins;
    top: 50%;
    transform: translate(0%, -50%);
}

#topBox-button:hover{
    background-color: #0AB0DA;
    color: #FFFFFF;
}

#topBox-button:active{
    background-color: #def8ff;
    color:#0AB0DA;
}

#topBox-button h5{
    margin:0%;
}


#logoBox{
    height: 3em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.3em;
    margin-bottom: 0%;
    box-sizing: border-box;
    padding-top: 0px;
}

#logoBox img {
    width: 355px;
    aspect-ratio: 355/49;
    margin: 0px !important;
}

@media screen and (max-width:650px) {
    #logoBox img{
        width: 50vw;
    }

    #topBox-button{
        margin-right: 5vw;
    }

    #topBox-button h5{
        font-size: 2vw;
    }
}

/* NAV BAR END */

/* Hero Section */
#mainImgBox{
    width:100vw;
    min-height: 56.25vw;
    height:60vh;
    position: relative;
    
}

#imgBox{
    margin-left: 8vw;
    margin-top: -3em;
    margin-bottom: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#secondImg{
    margin-left: 45vw;
    width: 40vw;
    aspect-ratio: 1;
    box-sizing: border-box;
}

#imgTextBox{
    width: 40vw;
    color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#img{
    width: 80vw;
    margin-top: 0%;
    margin-left: 5%;
    aspect-ratio: 16/9;
    z-index: 1;
    position: absolute;
}

@media screen and (max-width: 650px){
    h1{
        font-family: 'Poppins', Courier, monospace;
        font-size: 2.7em;
        margin-top: 0em;
        margin-bottom: -.3em;
        z-index: 10;
        position: relative;
    }
    
    h2{
        font-family: Inter;
        margin-top: .75em;
        font-size: 1.3em;
        z-index: 10;
        position: relative;
    }

    #imgTextBox{
        margin-top: .3em;
    }
}

@media screen and (max-width: 950px){
    #secondImg{
        max-width: 0px;
        max-height: 0px;
    }
    
    #imgTextBox{
        width: 80vw;
        text-align: center;
    }
}


/* END */

/* CONTENT */

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 24vh;
    width: 70vw;
    padding: 30px;
    margin: -5em 15vw -10em 15vw;
    background-color: white;
    z-index: 5;
    border-radius: 2em;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 1.5px 1.5px 1.5px #09090977;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: bold;
}

/* Style for Webkit-based browsers */
.contentTeams {
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    -webkit-overflow-scrolling: touch;
}

.scrolling-container {
    display: flex;
    margin-bottom: 2vh;
    gap: 4vw;
    height: 14vh;
    width: auto;
    flex-direction: row;
    scrollbar-width: thin; /* Set scrollbar width */
    scrollbar-color: transparent transparent; /* Set scrollbar color to transparent */
}

/* width */
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa; 
  }



/* PROBLEM SECTION START */
#problem{
    width: 100vw;
    padding-top: 20vh;
    height: auto;
    background-color: #D9E0EA;
    position: relative; 
    box-sizing: border-box;
}

#problem h3 {
    color: #0051A3;
    text-align: left;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 113%; /* 45.2px */
    margin: 0vh;
}

#problemImg-1 {
    max-width: 40vw;
    aspect-ratio: 16/9;
}

#problemImg-2 {
    max-width: 40vw;
    aspect-ratio: 16/9;
}

.problemBox {
    display: inline-flex;
    align-items: flex-start;
    gap: 70px;
    padding: 0 100px 0 100px;
}

@media screen and (aspect-ratio >= 1){
    .problemBox{
        align-items: center;
    }
}

@media screen and (aspect-ratio < 1/1){
    .problemBox{
        gap: 70px;
        padding: 0 100px 0 100px;
        display: inline-block;
        align-items: self-start;
    }

    #problemImg-1 {
        margin-left: 0px;
        max-width: 80vw;
        aspect-ratio: 16/9;
    }
    
    #problemImg-2 {
        margin-right:   0px;
        max-width: 80vw;
        aspect-ratio: 16/9;
    }
    .problemContent h3{
        text-align: center !important;
    }
    .problemContent p{
        text-align: center !important;
    }
}

.problemBox.content-1 {
    margin-bottom: 12vh;
}

.problemBox.content-2 {
    margin-bottom: 8vh;
}

.problemContent {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-start;
    gap: 3vh;
    /* padding-top: 2em; */
}


/* PROBLEM SECTION END */

/* SOLUTION */

#solutionBox {
    /* margin-top: auto; */
    padding-top: 20vh;
    background: linear-gradient(180deg, #D9E0EA 0%, #202020 8.7%), #212121;
}

#solutionBox h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 113%; /* 45.2px */
    text-align: center;
    margin-top: 4vh;
}

#solutionBox p {
    display: inline;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 113%; /* 18.08px */
    /* border-style: solid; */
}

#solutionCardBox {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: center;
    align-items: baseline;
    gap: 6vw;
    margin-bottom: 10vh;
}

.solutionCard {
    width: 211px;
    display: flex;
    flex-direction: column;
}

.numIcon {
    width: 2.5rem;
    margin-bottom: 10px;
}

.solutionImg {
    width: 13.188rem;
    height: auto;
    margin-bottom: 10px;
}

/* END */

#label{
    margin-top: 3em;
}

#botBox{
    margin: 0%;
    padding: 1.5em;
    width: 100%;
    height: 5em;
    background-color: #d4bb6c;
    position: relative;
    background-image: linear-gradient(90deg, #897946, #d1bd79, #d2b864);
    box-sizing: border-box;
    text-align: center;
    color: #e8e8e8;
    text-shadow: 1.5px 1.5px 1.5px #09090977;
}

#botGradient{
    margin-top: 5em;
    margin-bottom: 0%;
    width: 100%;
    height: 1.5em;
    background-blend-mode: overlay;
    background-image: linear-gradient(#00000000, #d4bb6c55);
}

.line{
    width: 80vw;
    height: 2px;
    margin-left: 10vw;
    background-color: #00006f;
    position: relative;
    box-sizing: border-box;
}

.coloumnBox{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #444444;
    padding: 1.25em 1.3em;
    border-radius: 3em;
    box-sizing: border-box;
}

.seperator{
    width: 100%;
    height: 1px;
    margin-top: .5em;
    background-color: #767676;
}

.imgBox{
    width: 100%;
}

.icon img{
    border-radius: 50%;
    width: 2.5em;
    margin-bottom: 0px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    position: relative;
}

.dFlex{
    display: flex;
}

.noModifier{
    margin: 0%;
    padding: 0%;
}

@media screen and (aspect-ratio > 3/2){

    .dynamic-dFlex-1{
        display: flex;
    }

    .mainBox{
        padding: 1em 1em .5em;
        margin: .75em 2%;
        width: 50%;
        min-height: 30vh;   
        border-radius: 2em;
        background-color: #ececec;
        box-sizing: border-box;
    }
}

@media screen and (aspect-ratio <= 3/2){
    .mainBox{
        padding: 1em 1em .5em 1em;
        margin: 1% 2%;
        margin-bottom: 2em;
        width: inherit;
        min-height: 20vh;   
        border-radius: 2em;
        background-color: #ececec;
        box-sizing: border-box;
    }
}

@media screen and (aspect-ratio > 4/5){
    .dynamic-dFlex-2{
        display: flex;
        width: 50%;
    }
}


